/* using google fonts-family */

font-family: 'Lato', sans-serif;
font-family: 'Lobster',cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

/* influencer journey started */
h1{
    font-weight: 800;
}